@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');


/* rootvariables */
:root {
    --white: #fff;
    --black: #111;
    --grey: #888;
    --blue: #3a80e9;
    --darkgrey: #1b1b1b;
    --green: #61c96f;
    --red: #f94141;
}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding:0;
    font-family: 'Segoe UI', 'Ubntu', "Fira Sans", "Droid Sans", Verdana, sans-serif;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
    background-color: var(--black);
    color: var(--white);
    font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
}

::selection{
    background-color: var(--green);
    color:var(--red);
}

/* customSCROLLBAR
 width */

::-webkit-scrollbar {
    width: 0.9rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--white);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:var(--green);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:var(--blue);
  }

  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

.grey-wrapper{
  display:block;
  width:90%;
  padding:0 0.5rem;
  background-color: var(--darkgrey);
  margin:1.5rem auto;
  border-radius: 0.8rem;
}


