
.back-to-top-btn{
    position:fixed;
    bottom:4rem;
    right:0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width:2.5rem;
    height:2.5rem;
    border:2px solid var(--blue);
    cursor:pointer;
    border-radius: 50%;
}
@media only screen and (max-width:750px){
    .back-to-top-btn{
        display:none;
    }
}